@model BasketViewModel

@{
    ViewData["Title"] = "You're basket";
}


<hr />

@if (Model.BasketProductsItem.Any())
{

    <table class="table table-hover" style="max-width:100%">
        <thead style="max-width:100%">
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Unit Price (Excl. BTW)</th>
                <th scope="col">Quantity</th>
                <th scope="col">BTW (%)</th>
                <th scope="col">Total  (Excl BTW)</th>
                <th scope="col">Total BTW</th>
                <th scope="col">Total (Incl. BTW)</th>
                <th scope="col">  </th>
            </tr>
        </thead>

        <tbody style="max-width:100%">


            @foreach (var item in Model.BasketProductsItem)
            {
                <tr>
                    <td><img class="img-responsive" width="200" height="200" src="@item.ProductImagesrc" /></td>
                    <td>@item.Product.Name </td>
                    <td>
                        @item.Product.RecommendedUnitPrice @{ if (item.Product.SolderPrice != 0 && item.Product.SolderPrice != null)
                            { <h6 class="text-danger">@item.Product.SolderPrice %</h6>}
                        }
                    </td>
                    <td>@item.CountOfProducts</td>
                    <td>@item.Product.BTWPercentage </td>
                    <td> @item.TTexclBtwThisProduct</td>
                    <td>@item.TTbtwThisProduct</td>
                    <td>@item.TTinclBtwThisProduct</td>
                    <td>
                        <input type="number" class="form-control" id="AmountOf_EAN_@item.Product.EAN" min="1" max="5000" />
                        <button id="ButtonAddToBasket_EAN_@item.Product.EAN" class="btn btn-info" onclick="setToBasketCookie('@item.Product.EAN',true)"><i class="fas fa-baby-carriage"></i></button>
                        <button type="button" class="btn btn-danger" onclick="deletFromBasketCookie('@item.Product.EAN',true)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <hr />
    <h3>prijs zonder btw: @Model.TTpriceExclBtw</h3>
    <h3>btw: @Model.TTbtw</h3>
    <h3>prijs MET btw: @Model.TTpriceIncludeBtw</h3>
    <hr />
    <a asp-controller="home" class="btn btn-primary btn-lg "> Continue shopping </a>

    @if (Model.BasketProductsItem.Any())
    {
        <a asp-controller="Basket" asp-action="Bill" class="btn btn-primary btn-lg "> Payement</a>
    }
    <hr />
}

else
{
<h3>you're basket is empty</h3>
}



