@using MTC_WebServerCore.ViewModels.Category
@model IEnumerable<OverviewCategoriesViewModel>
@{
    ViewData["Title"] = "Overview Categories";
}

<h1>Overview Categories</h1>
<a class="btn btn-info" asp-controller="Category" asp-action="AddCategory">Add new category</a>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Parent Categories</th>
                <th scope="col">Direct parent</th>
                <th scope="col">Number of products</th>
                <th scope="col">Subcategories</th>
                <th scope="col">Modify</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cat in Model)
            {
            <tr>
                <th scope="row">@cat.Name</th>
                <th scope="row">@cat.ParentPath</th>

                @if (cat.ParentCategorie != null)
                {
                    <td>@cat.ParentCategorie.Name</td>
                }
                else
                {
                    <td>None</td>
                }
                <td>@cat.Products.Count()</td>

                @if (cat.Subcategories.Count() > 0)
                {
                    <td>
                        @foreach (var subcat in cat.Subcategories)
                        {
                            <p>@subcat.Name</p>
                        }
                    </td>
                }
                else
                {
                    <td>None</td>
                }
                <td>
                    <a asp-controller="Category" asp-action="Detail" asp-route-id="@cat.Id">View</a>
                    <a asp-controller="Category" asp-action="EditCategory" asp-route-id="@cat.Id">Edit</a>
                    <a asp-controller="Category" asp-action="DeleteCategory" asp-route-id="@cat.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

