
@model IndexPageViewModel
@{
    ViewData["Title"] = "Home Page";


    
}

@*the global mybasketbutton, you can this use in every page, but then include 
the javascriptfiles cookies.js and basket.js (see bottom of this page)*@



@*now it is in the navbar, see _layout*@
@*<a id="btnMyBasket" asp-controller="Basket" class="btn btn-primary btn-lg "> </a>*@




<div class="card-deck">

    @foreach (var item in Model.ProductsToShow)
    {
        //string image = toAdd.ProductImagesrc = item.Image != null ? string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item.Image.Image)) : null;

        string productImage = item.Images.FirstOrDefault()  != null ? string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item.Images.FirstOrDefault().Image))  : "~/images/noProductImage.png";
        //string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item.Images.FirstOrDefault().Image))

        <div class="col-sm-6 col-lg-4 mb-3">
            <div class="card mb-3">


                <div class="card-header">
                    <h3>@item.Name</h3>
                </div>

                <div class="card-body text-center">
                    <img class="card-img-top" src="@productImage" asp-append-version="true" />
                    <h5>@item.ExtraInfo</h5>
                    <h5>@item.AverageRating</h5>
                    <h5>prijs: @String.Format("{0:0.00}€", item.RecommendedUnitPrice)</h5>
                </div>

                <div class="card-footer text-center">
                    <a asp-controller="Home" asp-action="ProductDetails" asp-route-id="@item.EAN">
                        <input type="button" class="btn btn-primary m-1" value="Detail" />
                    </a>


                    @*belangrijk bij het opmaken van de pagina layout
                        -    dat de id's niet veranderd worden van naam,
                        -    het argument van de setToBasketCookie niet wordt verandander van naam
                        -    het number type een value property heeft
                        dit alles omdat dit gebruik maken van de javascriptfile basket.js (wwwroot/js)*@
                    <button id="ButtonAddToBasket_EAN_@item.EAN" class="btn btn-info" onclick="setToBasketCookie('@item.EAN')"><i class="fas fa-baby-carriage"></i></button>
                    <input id="AmountOf_EAN_@item.EAN" type="number" min="1" max="5000" value="1" class="form-control" />

                </div>
            </div>

        </div>

        }
</div>




@section Scripts {
@*notneeded anymore, its now in the _layout*@
    @*<script src="~/js/cookies.js"></script>
    <script src="~/js/basket.js"></script>*@
}

