@model MTC_WebServerCore.ViewModels.Home.ProductDetailsViewModel
@*<strong>Name</strong>*@
@using MTCmodel
<div style="width:100%">



    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-horizontal " style="display:inline-flex">
                        <div class="img-square-wrapper" style="width:50% ;height:100%">
                            <div id="carouselExampleIndicators" class="carousel slide m-0" data-ride="carousel" data-interval="2000" style="width: 100%; height: 440px; ">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                </ol>
                                <div style=" height:100%; width:100%" class="carousel-inner">
                                    @if (Model.ProductImages != null)
                                        foreach (var item in Model.ProductImages)
                                        {

                                            <div style="height:100%; width:100%" id="largeImageContainer" class="carousel-item @(item == Model.ProductImages.First() ? "active" : "")">
                                                <img @*style="max-height: 100%; max-width:100% ;min-height:100%;min-width:100%"*@ class="" id="largeImage" src="@item">

                                            </div>
                                        }
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>

                        </div>
                        <div class="card-body bg-light" style="width:50%">
                            <div class="card-header blueBright">
                                <h1 class="text-white">@Model.Product.Name</h1>
                                @{
                                    var defaultStars = 5 - @Model.Product.AverageRating;


                                    <span class="text-warning">
                                        @for (int i = 1; i <= @Model.Product.AverageRating; i++)
                                        {
                                            <i class="fas fa-star"></i>
                                        }
                                        @for (int i = 0; i < defaultStars; i++)
                                        {
                                            <i class="far fa-star"></i>
                                        }
                                    </span>
                                }
                                <p>@Math.Round(Convert.ToDecimal(@Model.Product.AverageRating), 1) / 5 (@Model.Product.RatingCount reviews).</p>
                            </div>
                            @{
                                if (Model.Product.SolderPrice > 0)
                                {
                                    <strong> <span class="m-0" style="font-size: 30px; color: red"> -@Math.Round(Convert.ToDecimal(Model.Product.SolderPrice), 2)%</span><span> Save </span><span span class="m-0" style="font-size: 30px; color: darkblue"> @Math.Round(Model.PriceSaved, 2)€ </span></strong>
                                    <br />
                                    <strong>   <span style=" font-size:60px;color:red">@Math.Round(Convert.ToDecimal(Model.PricewithSold), 2)€ </span>  <span style=" font-size:40px;color:seagreen;text-decoration:line-through;text-decoration-color:red">@Math.Round(Convert.ToDecimal(Model.PricewithBTW), 2)€</span></strong>
                                }
                                else
                                {
                                    <strong>Price: <p style=" font-size:80px;color:seagreen">@Math.Round(Convert.ToDecimal(Model.PricewithBTW), 2)€ </p></strong>
                                }
                            }
                            <div class="card-footer bg-light blueBright" @*style="width:50%"*@>
                                <p>@Model.Product.CountInStock in stock</p>
                                <div style="display:flex;flex-wrap:wrap ;width:80%">





             @*=================================*@        
                                    @*=========================Bascket Button*@

                                    <label style="margin-top: 5px; width: 40%">Quantity :</label> <input style="width:40%" id="AmountOf_EAN_@Model.Product.EAN" type="number" min="1" max="5000" value="1" class="form-control" />






                                    <label style="margin-top: 10px; width: 40%">Add to bascket</label> <button style="width:40%" id="ButtonAddToBasket_EAN_@Model.Product.EAN" class="btn btn-info" onclick="setToBasketCookie('@Model.Product.EAN')"><i class="fas fa-baby-carriage"></i></button>
                                </div>
                            </div>
                        </div>


                    </div>




                </div>
            </div>

        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-header blueBright">
            <h3 class="text-white"> Descriptions</h3>
        </div>
        <div class="card-body">
            @Model.Product.ExtraInfo
        </div>
    </div>


    @*<p>@Model.Product.AverageRating /5</p>*@
    @*<strong>Reviews</strong>
        @foreach (var item in Model.Product.ProductReviews)
        {
            <p>@item.Rating /5</p>
            <p>@item.Comment</p>
        }*@
    <br />

    <div class="card">
        <div class="card-header blueBright">
            <h3 class="text-white">Product Reviews</h3>
            @{
                var Stars = 5 - @Model.Product.AverageRating;


                <span class="text-warning ">
                    @for (int i = 1; i <= @Model.Product.AverageRating; i++)
                    {
                        <i class="fas fa-star"></i>
                    }
                    @for (int i = 0; i < Stars; i++)
                    {
                        <i class="far fa-star"></i>
                    }
                </span>
            }
            <p>@Math.Round(Convert.ToDecimal(@Model.Product.AverageRating), 1) / 5 (@Model.Product.RatingCount reviews).</p>
        </div>
        <div class="card-body">
            @foreach (var item in Model.Product.ProductReviews)
            {
                var defaults = 5 - item.Rating;

                <p>@item.Comment</p>
                <span class="text-warning ">
                    @for (int i = 1; i <= item.Rating; i++)
                    {
                        <i class="fas fa-star"></i>
                    }
                    @for (int i = 0; i < defaults; i++)
                    {
                        <i class="far fa-star"></i>
                    }
                </span>
                <small class="text-muted">Posted by<span class="text-primary"> @item.Client.FirstName @item.Client.NameAdditional @item.Client.LastName</span>, on @item.DateTime</small>
                <hr />
            }
            @{ if (Model.ClientId != null && Model.Product.ProductReviews.Select(x => x.ClientId ).ToArray().Contains( Model.ClientId)==false)
                {
            <form id="commentForm">
                <input type="hidden" name="EAN" value="@Model.Product.EAN" />
                <input type="hidden" name="ClientId" value="@Model.ClientId" />
                <div class="form-group">
                    <label> Write your comment...</label>
                    <span class="text-warning float-lg-right">
                        <i class="ratingStar far fa-star" data-value="1"></i>
                        <i class="ratingStar far fa-star" data-value="2"></i>
                        <i class="ratingStar far fa-star" data-value="3"></i>
                        <i class="ratingStar far fa-star" data-value="4"></i>
                        <i class="ratingStar far fa-star" data-value="5"></i>
                    </span>
                    <input type="hidden" name="Rating" id="ratingsValue" />
                    <textarea class="form-control" rows="3" name="Text" placeholder="Write here..."></textarea>
                </div>
                <button class="btn btn-success" id="btnComment" type="button">Comment</button>
            </form>
                }
                else if (Model.ClientId == null)
                {
                <h1>Login to Comment this product.</h1>
                }
                else if (Model.ClientId != null && Model.Product.ProductReviews.FirstOrDefault(x => x.ClientId == Model.ClientId) != null)
                {
                <h1>You earledy posted a comment for this product.</h1>
                    } }
        </div>
    </div>



    <a asp-controller="Home" asp-action="Index">Back </a>
    @section Scripts
    {
        <script src="~/js/cookies.js"></script>
        <script src="~/js/basket.js"></script>
        <script type="text/javascript">
        $(".ratingStar").hover(function () {
            $(".ratingStar").addClass("far").removeClass("fas");
            $(this).addClass("fas").removeClass("far");
            $(this).prevAll(".ratingStar").addClass("fas").removeClass("far");
        });

        $(".ratingStar").click(function () {
            var starvalue = $(this).attr("data-value");
            $("#ratingsValue").val(starvalue);
        });

        $("#btnComment").click(function () {
            $.ajax({
                url: "@Url.Action("Comment","Home")",
                type: "post",
                data: $("#commentForm").serialize()
            }).done(function (response) {
                if (response.succes) {
                    window.location.reload();
                }
                else {
                    swal("Error!", response.Message, "error");
                }
            }).fail(function () {
                swal("Error!","Error ","error");
            });
        });
        </script>
    }
