
@model OrderOutOverview_DTO
@{
    ViewData["Title"] = "Overview reserved OrderOuts";
}

<h1>Overview reserved OrderOuts</h1>


@if (Model.OrderOutOverviewItems.Any())
{


<form method="post" asp-controller="OrderOut" asp-action="OverviewReservedToPrepared">

    @*this serialize to json, see the HiddenfieldSerialize in the Helpers directory (it's contains 2 extention methods),
    this helps for not loose the data in the combobox when we return from invalid model..
    solution found on: https://stackoverflow.com/questions/58627155/input-type-hidden-asp-for-does-not-work-for-list*@
    <input type="hidden" asp-for="AvaillableTransprotersHidden" />

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Invoice/Order No.</th>
                    <th scope="col">Date</th>
                    <th scope="col">Client</th>
                    <th scope="col">Transporter</th>
                    <th scope="col">Set to prepared</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                @for (int i = 0; i < Model.OrderOutOverviewItems.Count; i++)
                {
                    //Hidden fields nodig, anders zijn deze velden null of default in het model,
                    //heb ze in feite niet allemaal nodig, is maar
                    <input type="hidden" asp-for="@Model.OrderOutOverviewItems[i].OrderOutId" />
                    <input type="hidden" asp-for="@Model.OrderOutOverviewItems[i].OrderOutDate" />
                    <input type="hidden" asp-for="@Model.OrderOutOverviewItems[i].FullNameOfClient" />
                    <input type="hidden" asp-for="@Model.OrderOutOverviewItems[i].EmailClient" />



                    <tr>
                        <td scope="row">@Model.OrderOutOverviewItems[i].OrderOutId.ConvertToInvoice()</td>
                        <td scope="row">@Model.OrderOutOverviewItems[i].OrderOutDate</td>
                        <td scope="row">@Model.OrderOutOverviewItems[i].FullNameOfClient</td>

                        @*combobox*@
                        <td>
                            <select id="cmbLanguage" asp-for="OrderOutOverviewItems[i].TransporterId" class="custom-select mr-sm-2"
                                    asp-items="Model.AvaillableTransproters">
                                <option value="">-- select one please --</option>
                            </select>
                            <span asp-validation-for="OrderOutOverviewItems[i].TransporterId" class="text-danger"></span>
                        </td>

                        @*textbox*@
                        <td align="center">
                            <input asp-for="@Model.OrderOutOverviewItems[i].IsChecked" class="form-check-input" />
                        </td>
                        @*knop*@
                        <td>
                            <a asp-controller="OrderOut" asp-action="Details" asp-route-id="@Model.OrderOutOverviewItems[i].OrderOutId">
                                <input type="button" class="btn btn-primary m-1" value="Detail" />
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @*<div asp-validation-summary="All" class="text-danger"></div>*@
    <button type="submit" class="btn btn-info">Set selected orders to prepared</button>
</form>
}
else
{
    <div class="card">
        <div class="card-header">
            No reserved Orderouts found
        </div>
    </div>
}
